{% extends 'base.html' %} {% block content %}
<h3>Change Password</h3>
{% if error %}
<p>{{ error }}</p>
{% endif %}
<form class="requires-validation" novalidate method="post">
  <div class="col-md-12">
    {{ form.password }}
    <div class="valid-feedback">Password field is valid!</div>
    <div class="invalid-feedback">Password field cannot be blank!</div>
  </div>

  <div class="col-md-12">
    {{ form.password_again }}
    <div class="valid-feedback">Password field is valid!</div>
    <div class="invalid-feedback">Password field cannot be blank!</div>
  </div>

  <div class="form-button mt-3">
    <button id="submit" type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
{% endblock %}
