{% extends 'new-base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}
<h3 class="mb-5">Change Password</h3>
<div class="py-5 text-center">
  <p class="lead">After changing the password you will be logged out</p>
</div>
<div class="row g-5">
  <div>
    <form method="POST" action="{{ url_for('change_password') }}">
      <div class="row g-3">

      <div class="col-12 {% if form.pass1.errors %}was-validated{% endif %}">
          {{ form.pass1.label }}
          {{ form.pass1() }}
          {% for err in form.pass1.errors %}
          <div class="invalid-feedback">
            {{ err }}
          </div>
          {% endfor %}
        </div>

        <div class="col-12 {% if form.pass2.errors %}was-validated{% endif %}">
          {{ form.pass2.label }}
          {{ form.pass2() }}
        </div>
       {% for err in form.pass2.errors %}
          <div class="invalid-feedback">
            {{ err }}
          </div>
       {% endfor %}
      </div>
      <hr class="my-4">

      <button class="w-100 btn btn-primary btn-lg" type="submit">Save</button>
    </form>
  </div>
</div>
{% endblock %}
