{% extends 'new-base.html' %} {% block content %}
<style>
.diagnostic-info > p {
  font-weight: 700;
}
.diagnostic-info > p > span {
  font-weight: 400;
}
</style>
<h3>Diagnostics</h3>
<h4>IP Info</h4>
<div class="diagnostic-info">
	<p>IP Address: <span>{{ ip_address }}</span></p>
    <br />
    <p>Subnet Mask: <span>{{ subnet_mask }}</span></p>
    <p>Gateway: <span>{{  gateway }}</span></p>
    <p>DNS Servers: <span>{{ dns_address }}</span></p>
    <p>Public IP Address: <span>{{ public_ip_address }}</span></p>
</div>
<h4>Tunnel Info</h4>
{% with height='50%' %}
	{% include 'logs_block.html' %}
{% endwith %}

{% endblock %}
