{% extends 'new-base.html' %} {% block content %}
<h3>Diagnostics</h3>
<h4>IP Info</h4>
<div>
  <dl>
    <dt>IP Address:</dt>
    <dd>{{ ip_address }}</dd>
    <br />
    <dt>Subnet Mask:</dt>
    <dd>{{ subnet_mask }}</dd>
    <dt>Gateway:</dt>
    <dd>{{  gateway }}</dd>
    <dt>DNS Servers:</dt>
    <dd>{{ dns_address }}</dd>
    <dt>Public IP Address:</dt>
    <dd>{{ public_ip_address }}</dd>
  </dl>
</div>
<h4>Tunnel Info</h4>
{% with height='50%' %}
	{% include 'logs_block.html' %}
{% endwith %}

{% endblock %}
