{% extends 'new-base.html' %}
{% block title %}IP Address{% endblock %}
{% block content %}
<h3>IP Address</h3>
<div class="row g-5">
	<div>
		<style>
			.was-validated>.invalid-feedback {
				display: block;
			}

			.form-control::placeholder {
				opacity: 0.3;
			}
		</style>
		<form method="POST" action="{{ url_for('index') }}" id="ipForm">

			<div class="row g-3">
				<div class="col-12 {% if form.dhcp.errors %}was-validated{% endif %}">
		            {{ form.dhcp() }}
		            {{ form.dhcp.label }}
				    <br>
		            {% for err in form.dhcp.errors %}
		            <div class="invalid-feedback" >
		            {{ err }}
		            </div>
	                {% endfor %}
	            </div>
			</div>

			<div class="row g-3">
				<div class="col-12 {% if form.static.errors %}was-validated{% endif %}">
		            {{ form.static() }}
		            {{ form.static.label }}
				    <br>
		            {% for err in form.static.errors %}
		            <div class="invalid-feedback" >
		            {{ err }}
		            </div>
	                {% endfor %}
	            </div>
			</div>

			<div  class="row g-3 mt-0 p-5 jumping-container" style="display: none; margin-left: 30px; padding-top: 0!important; border: 1px solid gray; border-radius: 10px;">

				{% for input_name, input_label in fields.items() if form[input_name].type == 'StringField' %}
				<div class="col-12">
					<label for="{{ input_name }}-part0">{{ input_label }}</label>
					<div class="row">
						{% for x in range(4) %}
						<div class="col-2">
							<input class="form-control" id="{{ input_name }}-part{{ x }}" type="number" max="255" min="0">
						</div>
							{% if x != 3 %}.{% endif %}
						{% endfor %}
					</div>
					{{ form[input_name]() }}
					<div class=" {% if form[input_name].errors %}was-validated{% endif %}">
						{% for err in form[input_name].errors %}
			            <div class="invalid-feedback" >
			            {{ err }}
			            </div>
		                {% endfor %}
					</div>
				</div>
				{% endfor %}
			</div>

			<hr class="my-4">

			<button class="w-100 btn btn-primary btn-lg" type="submit">Save</button>
		</form>
	</div>
</div>

<script>
let staticIpCheckbox = document.getElementById("static");
staticIpCheckbox.onclick = function(e) {
	let additionalInputsContainer = document.getElementsByClassName("jumping-container")[0];
    let input = document.getElementById("static");
    if (input.checked === true) {
        additionalInputsContainer.style.display = "block";
    } else {
        additionalInputsContainer.style.display = "none";
    }
};
if (staticIpCheckbox.checked === true) {
    let additionalInputsContainer = document.getElementsByClassName("jumping-container")[0];
    additionalInputsContainer.style.display = "block";
}

let hiddenInputs = document.getElementsByClassName('visually-hidden');
for (let i = 0; i < hiddenInputs.length; i++) {
    let hiddenId = hiddenInputs[i].id;
    let placeholderParts = hiddenInputs[i].placeholder.split('.');
    let valueParts = (hiddenInputs[i].value || '').split('.');
    console.log(hiddenInputs[i].id);
    for (let partI = 0; partI < 4; partI++) {
        let partInput = document.getElementById(`${hiddenId}-part${partI}`);
        partInput.placeholder = placeholderParts[partI];
        if (valueParts[partI] !== undefined) {
            partInput.value = valueParts[partI];
        }
    }
}

function beforeSubmit(event) {
    let hiddenInputs = document.getElementsByClassName('visually-hidden');
    for (let i = 0; i < hiddenInputs.length; i++) {
	    let hiddenId = hiddenInputs[i].id;
	    let newValue = '';
	    for (let partI = 0; partI < 4; partI++) {
	        let partInput = document.getElementById(`${hiddenId}-part${partI}`);
	        let partValue = partInput.value;
	        if (partValue !== undefined) {
	            newValue += '.' + partValue
	        }
	    }
	    newValue = newValue.slice(1);
	    console.log(`${hiddenId} - "${newValue}"`)
	    if (newValue) {
            hiddenInputs[i].value = newValue;
        }
	}
}

const form = document.getElementById('ipForm');
form.addEventListener('submit', beforeSubmit);

let container = document.getElementsByClassName("jumping-container")[0];
let visiblePartsId = [];
for (let i = 0; i < hiddenInputs.length; i++) {
    let hiddenId = hiddenInputs[i].id;
    for (let partI = 0; partI < 4; partI++) {
        visiblePartsId.push(`${hiddenId}-part${partI}`);
    }
}
console.log(`visible parts: ${visiblePartsId}`)

container.onkeyup = function(e) {
    let target = e.srcElement || e.target;
    let targetId = target.id;
    let targetLength = target.value.length;
	let doesItHave3chars = targetLength === 3;

    if (doesItHave3chars) {
        let nextPartIndex = visiblePartsId.indexOf(targetId) + 1;
        if (nextPartIndex < visiblePartsId.length) {
            let nextId = visiblePartsId[nextPartIndex];
            document.getElementById(nextId).focus();
        }
    }
    // Move to previous field if empty (user pressed backspace)
    else if (targetLength === 0) {
        let previousPartIndex = visiblePartsId.indexOf(targetId) - 1;
        if (-1 < previousPartIndex) {
            let previousId = visiblePartsId[previousPartIndex];
            document.getElementById(previousId).focus();
        }
    }
}
</script>


{% if not form.errors and request.method == 'POST' %}
	{% with height='40%' %}
		{% include 'logs_block.html' %}
	{% endwith %}
{%  endif %}

{% endblock %}
