{% extends 'new-base.html' %}
{% block title %}IP Address{% endblock %}
{% block content %}
<h3>IP Address</h3>
<div class="row g-5">
	<div>
		<style>
			.was-validated>.invalid-feedback {
				display: block;
			}
		</style>
		<form method="POST" action="{{ url_for('index') }}">

			<div class="row g-3">
				<div class="col-12 {% if form.dhcp.errors %}was-validated{% endif %}">
		            {{ form.dhcp() }}
		            {{ form.dhcp.label }}
				    <br>
		            {% for err in form.dhcp.errors %}
		            <div class="invalid-feedback" >
		            {{ err }}
		            </div>
	                {% endfor %}
	            </div>
			</div>

			<div class="row g-3">
				<div class="col-12 {% if form.static.errors %}was-validated{% endif %}">
		            {{ form.static() }}
		            {{ form.static.label }}
				    <br>
		            {% for err in form.static.errors %}
		            <div class="invalid-feedback" >
		            {{ err }}
		            </div>
	                {% endfor %}
	            </div>
			</div>

			<div  class="row g-3 mt-0 p-5 jumping-container" style="display: none; margin-left: 30px; padding-top: 0!important; border: 1px solid gray; border-radius: 10px;">
				<div class="col-12 {% if form.ip_address.errors %}was-validated{% endif %}">
		            {{ form.ip_address.label }}
		            {{ form.ip_address() }}
		            {% for err in form.ip_address.errors %}
		            <div class="invalid-feedback" >
		            {{ err }}
		            </div>
	                {% endfor %}
	            </div>

				<div class="col-12 {% if form.subnet_mask.errors %}was-validated{% endif %}">
		            {{ form.subnet_mask.label }}
		            {{ form.subnet_mask() }}
		            {% for err in form.subnet_mask.errors %}
		            <div class="invalid-feedback" >
		            {{ err }}
		            </div>
	                {% endfor %}
	            </div>

				<div class="col-12 {% if form.gateway.errors %}was-validated{% endif %}">
		            {{ form.gateway.label }}
		            {{ form.gateway() }}
		            {% for err in form.gateway.errors %}
		            <div class="invalid-feedback" >
		            {{ err }}
		            </div>
	                {% endfor %}
	            </div>

				<div class="col-12 {% if form.dns_address.errors %}was-validated{% endif %}">
		            {{ form.dns_address.label }}
		            {{ form.dns_address() }}
		            {% for err in form.dns_address.errors %}
		            <div class="invalid-feedback" >
		            {{ err }}
		            </div>
	                {% endfor %}
	            </div>
			</div>

			<hr class="my-4">

			<button class="w-100 btn btn-primary btn-lg" type="submit">Save</button>
		</form>
	</div>
</div>
<script>
let staticIpCheckbox = document.getElementById("static");
staticIpCheckbox.onclick = function(e) {
	let additionalInputsContainer = document.getElementsByClassName("jumping-container")[0];
    let input = document.getElementById("static");
    if (input.checked === true) {
        additionalInputsContainer.style.display = "block";
    } else {
        additionalInputsContainer.style.display = "none";
    }
};
if (staticIpCheckbox.checked === true) {
    let additionalInputsContainer = document.getElementsByClassName("jumping-container")[0];
    additionalInputsContainer.style.display = "block";
}

</script>

<script>
let container = document.getElementsByClassName("jumping-container")[0];
container.onkeyup = function(e) {
    let target = e.srcElement || e.target;
    // let maxLength = parseInt(target.attributes["maxlength"].value, 10);
	let dottedParts = target.value.split('.');
	let doesItHave3dots = dottedParts.length - 1 === 3;
	let doesItHave3charsAfterLastDot = dottedParts[dottedParts.length - 1].length === 3;
    let myLength = target.value.length;
    {#console.log('does it have 3 dots? ' + doesItHave3dots);#}
    {#console.log('does it have 3 chars after last dot? ' + doesItHave3charsAfterLastDot);#}
    {#console.log('real length: ' + myLength);#}
    {#console.log('element is ', target);#}

    if (doesItHave3dots && doesItHave3charsAfterLastDot) {
        console.log('hello')
        let next = target;
        let siblingInputWrapper = next.parentElement.nextElementSibling;
        let siblingInput = siblingInputWrapper && siblingInputWrapper.children[1];
        next = siblingInput;
        {#console.log(next.parentElement.nextElementSibling.children);#}
        console.log(siblingInput);
        while (next) {
            {#console.log('wtf magic')#}
            if (next === null)
                break;
            if (next.tagName.toLowerCase() === "input") {
                next.focus();
                break;
            }
            siblingInputWrapper = next.parentElement.nextElementSibling;
            siblingInput = siblingInputWrapper && siblingInputWrapper.children[1];
            next = siblingInput;
        }
    }
    // Move to previous field if empty (user pressed backspace)
    else if (myLength === 0) {
        let previous = target;
        let previousInputWrapper = previous.parentElement.previousElementSibling;
        let previousInput = previousInputWrapper && previousInputWrapper.children[1];
        previous = previousInput;

        while (previous) {
            if (previous == null)
                break;
            if (previous.tagName.toLowerCase() === "input") {
                previous.focus();
                break;
            }
            previousInputWrapper = previous.parentElement.previousElementSibling;
            previousInput = previousInputWrapper && previousInputWrapper.children[1];
            previous = previousInput;
        }
    }
}

</script>

{% if not form.errors and request.method == 'POST' %}
	{% with height='40%' %}
		{% include 'logs_block.html' %}
	{% endwith %}
{%  endif %}

{% endblock %}
