{% block logs %}
	<div id="log" class="col-8" style="height: {{ height }}; overflow-y: scroll; background-color: white">
	</div>

	<style>
	table {
        	width: 100%;
		border-collapse: collapse;
        	margin-top: 20px;
	}
	th, td {
		border: 1px solid #ddd;
		text-align: left;
		padding: 8px;
	}
	</style>

	<script>
        async function fetchAsync(url) {
	    try {
		let response = await fetch(url);
		if(!response.ok) {
		    throw new Error('Network problem while retrieving logfile: ' + response.statusText)
		}
		let data = await response.json();
            	return data;
	    } catch (error) {
		console.error('Problem with fetching logfile:', error)
	    }
        }

	function processLogData(lines) {
		// PROCESS THE LOG FILE HERE...
		// FIND THE INDICES OF THE SECTION HEADERS
		let clientListIndex = lines.findIndex(line => line.startsWith('HEADER,CLIENT_LIST'));
		let routingTableIndex = lines.findIndex(line => line.startsWith('HEADER,ROUTING_TABLE'));
		let globalStatsIndex = lines.findIndex(line => line.startsWith('GLOBAL_STATS'));

		let globalStatsRows = '';
		let routingTableRows = '';
		let clientListRows = '';

		// CHECK IF THE INDICES ARE VALID BEFORE SLICING
		if (clientListIndex  !== -1 && routingTableIndex !== -1) {
			let clientListLines = lines.slice(clientListIndex  + 1, routingTableIndex);
			clientListRows  = clientListLines.map(line => {
				if (line.startsWith('END')) { return ''; }
				let columns = line.split(',');
				return `<tr>${columns.map(column => `<td>${column}</td>`).join('')}</tr>`;
			}).join('');
		}

		if (routingTableIndex !== -1 && globalStatsIndex !== -1) {
			let routingTableLines = lines.slice(routingTableIndex + 1, globalStatsIndex);
			routingTableRows = routingTableLines.map(line => {
				if (line.startsWith('END')) { return ''; }
				let columns = line.split(',');
				return `<tr>${columns.map(column => `<td>${column}</td>`).join('')}</tr>`;
			}).join('');
		}

		if (globalStatsIndex !== -1) {
			let globalStatsLines = lines.slice(globalStatsIndex  + 1);
			globalStatsRows = globalStatsLines.map(line => {
				if (line.startsWith('END')) { return ''; }
				let columns = line.split(',');
				return `<tr>${columns.map(column => `<td>${column}</td>`).join('')}</tr>`;
			}).join('');
		}

		// GENERATE THE FULL TABLE HTML FOR EACH SECTION
		let globalStatsTable = `
			<table>
				<thead>
					<tr><th>Max Broadcast/Multicast Queue Length</th></tr>
				</thead>
				<tbody>
					${globalStatsRows}
				</tbody>
			</table>`;
    
		let routingTableTable = `
			<table>
				<thead>
	       				<tr><th>Virtual Address</th><th>Common Name</th><th>Real Address</th><th>Last Ref</th><th>Last Ref (time_t)</th></tr>
				</thead>
				<tbody>
					${routingTableRows}
				</tbody>
			</table>`;
    
		let clientListTable = `
			<table>
				<thead>
					<tr><th>Common Name</th><th>Real Address</th><th>Virtual Address</th><th>Virtual IPv6 Address</th><th>Bytes Received</th><th>Bytes Sent</th><th>Connected Since</th><th>Connected Since (time_t)</th><th>Username</th><th>Client ID</th><th>Peer ID</th><th>Data Channel Cipher</th></tr>
				</thead>
				<tbody>
					${clientListRows}
				</tbody>
			</table>`;
console.log(clientListRows);
console.log(clientListTable); 
		// RETURN THE FULL HTML
		return `
			<div id="global-stats">${globalStatsTable}</div>
			<div id="routing-table">${routingTableTable}</div>
			<div id="client-list">${clientListTable}</div>`;
	}


	let previousContent = '';  // DECLARE VARIABLE OUTSIDE FUNCTION
        function loadLogData() {
            let logElement = document.getElementById("log");

            fetchAsync('/log-file')
                .then(
                    function (result) {
                        let newContent = result.join('');
                        if (newContent !== previousContent) {
			    let formattedContent = processLogData(result);
			    //EMPTY OLD CONTENT
			    logElement.innerHTML = formattedContent;
			    previousContent = newContent;
                        }
                    }
                )
        }

        setInterval(loadLogData, 1000);

	</script>
{% endblock %}
