{% extends 'new-base.html' %}
{% block title %}Tunnel info{% endblock %}
{% block content %}
	<style>
        ul {
            list-style-type: none;
        }
        #deviceType li:not(:last-child),
				#masterNetworks>div:not(:last-child),
        #tunnelType li:not(:last-child),
        #additionalServices li:not(:last-child)
				{
	        margin-bottom: 5px;
        }

        #masterForm>.row>.row {
	        margin-bottom: 5px;
        }

		ul.alert { padding: 4px; }

		.help-tip{
		    position: relative;
			display: inline-block;
		    text-align: center;
			margin-left: 5px;
		    background-color: #BCDBEA;
		    border-radius: 50%;
		    width: 24px;
		    height: 24px;
		    font-size: 14px;
		    line-height: 26px;
		    cursor: default;
		}

		.help-tip:before{
		    content:'?';
		    font-weight: bold;
		    color:#fff;
		}

		.help-tip:hover p{
		    display:block;
		    transform-origin: 100% 0%;

		    -webkit-animation: fadeIn 0.3s ease-in-out;
		    animation: fadeIn 0.3s ease-in-out;

		}

		.help-tip p{    /* The tooltip */
		    display: none;
			z-index: 2;
		    text-align: left;
		    background-color: #1E2021;
		    padding: 20px;
		    width: 300px;
		    position: absolute;
		    border-radius: 3px;
		    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
		    left: -4px;
		    color: #FFF;
		    font-size: 13px;
		    line-height: 1.4;
		}

		.help-tip p:before{ /* The pointer of the tooltip */
		    position: absolute;
		    content: '';
		    width:0;
		    height: 0;
		    border:6px solid transparent;
		    border-bottom-color:#1E2021;
		    left:10px;
		    top:-12px;
		}

		.help-tip p:after{ /* Prevents the tooltip from being hidden */
		    width:100%;
		    height:40px;
		    content:'';
		    position: absolute;
		    top:-40px;
		    left:0;
		}

		/* CSS animation */

		@-webkit-keyframes fadeIn {
		    0% {
		        opacity:0;
		        transform: scale(0.6);
		    }

		    100% {
		        opacity:100%;
		        transform: scale(1);
		    }
		}

		@keyframes fadeIn {
		    0% { opacity:0; }
		    100% { opacity:100%; }
		}

		.title {
				font-weight: 700;
				margin-bottom: 16px;
		}


	</style>
	<h3 class="mb-5">Tunnel</h3>

	<div class="col-12 row">
		<div class="col-3 title">Current Device ID:</div>
		<div class="col-6">
				<input id="device-id-text" value="{{ device_id }}" readonly style="width:100% "/>
		</div>
		<div class="col-1">
				&nbsp;
				<button type="button" class="btn-clipboard" id="device-id-to-clipboard" title="Copy to clipboard">
					<i class="fa-solid fa-copy"></i>
				</button>
		</div>
	</div>

		<div class="col-12 row">
			<div class="col-3 title">Master/Client </div>
			<div class="col-8">
			<p>One device needs to be the <b>Master</b> and be accessible from outside (public IP or forward a port on
				your router).<br>Do you want this device to be the Master?</p>
			</div>
			<div class="col-3 title"></div>
			<ul class="col-8" id="deviceType">
				<li>
					<input id="deviceType-0" name="deviceType" type="radio" value="master" checked="">
					<label for="deviceType-0">This device is the master</label>
					<div class="help-tip" >
					    <p>The master device is listening and therefor need to be accessible on a public IP address or via a port forward on your router. If non-master devices are behind a firewall, you try to use TCP port 443 for the master since that's probably not blocked.</p>
					</div>
				</li>
				<li>
					<input id="deviceType-1" name="deviceType" type="radio" value="notMaster">
					<label for="deviceType-1">This device is <b>NOT</b> master</label>
					<div class="help-tip">
					    <p>This non-master initiates a connection to the master and therefor it's enough that this device has access to internet (via NAT is allowed). All configurations are made on the Master and then imported to the other (non-master) device(s).</p>
					</div>
				</li>
			</ul>
		</div>

		<p><br /></p>

{#		<form method="POST" action="{{ url_for('tunnel') }}" id="masterForm">#}
		<form method="POST" id="masterForm">
			<div class="row g-3">
				<div class="col-12 mt-0 row {% if tunnel_master_form.tunnel_type.errors %}was-validated{% endif %}">
					<div class="col-3 title">
					{{ tunnel_master_form.tunnel_type.label }}
					</div>
						<ul class="col-9" id="tunnelType">
						{% for subfield in tunnel_master_form.tunnel_type: %}
							<li>
								{{ subfield }}
								{{ subfield.label }}
								<div class="help-tip" >
									<p>
										{% if subfield.label.text == "Normal": %}
											Set tunnel type to Normal
										{% elif subfield.label.text == "Bridge": %}
											Set tunnel type to Bridge
										{% else %}
											{{ subfield.label.text }}
										{% endif %}
									</p>
								</div>
							</li>
						{% endfor %}
						</ul>
					<br>
					{% for err in tunnel_master_form.tunnel_type.errors %}
						<div class="invalid-feedback">
							{{ err }}
						</div>
					{% endfor %}
				</div>

				<div class="col-12 row">
					<div class="col-3 title">
					{{ tunnel_master_form.public_ip_or_ddns_hostname.label }}
					</div>
					<div class="col-4">
					{{ tunnel_master_form.public_ip_or_ddns_hostname() }}
					{% if tunnel_master_form.public_ip_or_ddns_hostname.errors %}
					<ul class="alert alert-danger">
						{% for error in tunnel_master_form.public_ip_or_ddns_hostname.errors %}
						<li>{{ error }}</li>
						{% endfor %}
					</ul>
					{% endif %}
					</div>
					<div class="col-2">
					{{ tunnel_master_form.tunnel_port() }}
					</div>
					<div class="col-3">
					{{ tunnel_master_form.protocol() }}
					</div>
					<br>
				</div>

				<div class="row">
					<div class="col-3 title">
						Networks, this master is connected to
					</div>
					<div class="col-9" id="masterNetworks">
						{% for master_network in tunnel_master_form.master_networks %}
						<div class="col-12 row">
							<div class="col-5">
								{{ master_network["server_network"] }}
								{% if master_network["server_network"].errors %}
								<ul class="alert alert-danger">
									{% for error in master_network["server_network"].errors %}
									<li>{{ error }}</li>
									{% endfor %}
								</ul>
								{% endif %}
							</div>
							<div class="col-4">{{ master_network["server_subnet"] }}</div>
							<div class="col-1"><i class='fa-solid fa-trash minus-master-network'></i></div>
						</div>
						{% endfor %}
					</div>
					<div class="col-12 row">
					<div class="col-3"></div>
					<div class="col-9" style="padding-top:16px">
						<button type="button" id="plus-master-network" title="Add master network">
						<i class='fa-solid fa-circle-plus'></i>
						Add master network
						</button>
					</div>
				</div>

				<div><br/></div>

				<div class="row">
					<div class="col-3 title">
						Networks the client is connected to
					</div>
					<div class="col-9" id="clients">
						{% for client in tunnel_master_form.clients %}
						<div class="col-12 row client-networks">
							<div class="col-9" style="padding-bottom:16px">
								{{ client["client_id"] }}
								{% if client["client_id"].errors %}
								<ul class="alert alert-danger">
									{% for error in client["client_id"].errors %}
									<li>{{ error }}</li>
									{% endfor %}
								</ul>
								{% endif %}
							</div>
							<div class="col-1"><i class='fa-solid fa-trash minus-client'></i></div>
							<div class="col-12 row client-networks">
								{% for client_network in client.client_networks %}
									<div class="col-12 row" style="padding:4px">
										<div class="col-5" style="margin-left:8px">
											{{ client_network["client_network"] }}
											{% if client_network["client_network"].errors %}
											<ul class="alert alert-danger">
												{% for error in client_network["client_network"].errors %}
												<li>{{ error }}</li>
												{% endfor %}
											</ul>
											{% endif %}
										</div>
										<div class="col-4">{{ client_network["client_subnet"] }}</div>
										<div class="col-1" style="margin-left:24px"><i class='fa-solid fa-trash minus-client-network'></i></div>
									</div>
								{% endfor %}
							</div>
							<div class="col-9" style="padding:8px; padding-bottom:24px">
									&nbsp;<button type="button" class="plus-client-network" title="Add client network">
									<i class='fa-solid fa-circle-plus'></i>
									Add client network
							</div>
							</button>
						</div>
						{% endfor %}
					</div>
					<div class="col-12 row">
					<div class="col-3"></div>
					<div class="col-9" style="padding:16px">
						&nbsp;<button type="button" id="plus-client" title="Add client">
						<i class='fa-solid fa-circle-plus'></i>
						Add client
						</button>
					</div>
				</div>
				</div>

			</div>

			<div><br/></div>

			<div class="row">
				<div class="col-3 title">Additional services</div>
					<ul class="col-9" id="additionalServices">
						<li>
						{{ tunnel_master_form.mdns() }}
						{{ tunnel_master_form.mdns.label }}
						<div class="help-tip" >
							<p><b>Multicast DNS (mDNS)</b> is used by Sonos, AirPrint, Apple (although Apple calls it 'Bonjour') and other devices to find each other.<br />
							Devices can send multicast queries like 'who can airprint?' or 'who is sonos?', the Printer or Sonos device will answer using multicast so everyone in the network immediately knows.<br />
							<br />
							Since mDNS is a Multicast protocol, it's always been very difficult to use it with different networks and locations.<br />
							By enabling this option, Avahi Daemon will cache all mDNS information it sees and proxy all requests to the other networks this device is connected to.
							</p> 
						</div>
						<br>
						{% for err in tunnel_master_form.mdns.errors %}
							<div class="invalid-feedback">
								{{ err }}
							</div>
						{% endfor %}
						</li>
						<li>
						{{ tunnel_master_form.pimd() }}
						{{ tunnel_master_form.pimd.label }}
						<div class="help-tip" >
							<p><b>PIMD (Multicast Routing)</b> is a service which will route multicast packets between the networks this device is connected to. It's probably the reason why you use the T1!<br />
							By enabling Multicast routing, packets to/from IP: 224.0.0.0-239.255.255.255 which are usually very difficult to route to other networks will now travel to all connected networks.
							</p>
						</div>
						<br>
						{% for err in tunnel_master_form.pimd.errors %}
							<div class="invalid-feedback">
								{{ err }}
							</div>
						{% endfor %}
						</li>
				</ul>
			</div>

			<div class="col-12 {% if tunnel_master_form.pimd.errors %}was-validated{% endif %}">
			</div>


			<div class="col-12 row">
				<div class="alert {{ download_msg_class}}">
					<p class="text-center">
						{% if not tunnel_master_form.is_submitted() %}
						Please submit the form to download the keys.
						{% elif tunnel_master_form.errors %}
						Please fix errors to download the keys.
						{% else %}
						Settings saved successfully!
						{% endif %}
					</p>
					<button class="w-100 btn btn-success btn-lg" type="button" {{ download_btn_enabled }}>Download Keys</button>
				</div>
			</div>

			<button class="w-100 btn btn-primary btn-lg" type="submit">Save</button>

		</form>

		<form method="POST" action="{{ url_for('tunnel_upload') }}" id="notMasterForm">
			<div class="row g-5" style="overflow-y: auto">
				<div class="py-5 text-center">
					{{ tunnel_non_master_form.upload_zip.label }}
					{{ tunnel_non_master_form.upload_zip }}
				</div>
			</div>
			<button class="w-100 btn btn-primary btn-lg" type="submit">Upload</button>
		</form>
	</div>


	<script>
        let masterFormContainer = document.getElementById("masterForm");
        masterFormContainer.style.display = "none";
        let notMasterFormContainer = document.getElementById("notMasterForm");
        notMasterFormContainer.style.display = "none";

        let deviceTypeMasterRadiobutton = document.getElementById("deviceType-0");
        let deviceTypeNotMasterRadiobutton = document.getElementById("deviceType-1");
        deviceTypeMasterRadiobutton.onclick = function () {
            let masterFormContainer = document.getElementById("masterForm");
            masterFormContainer.style.display = "block";
            let notMasterFormContainer = document.getElementById("notMasterForm");
            notMasterFormContainer.style.display = "none";
        }
        deviceTypeNotMasterRadiobutton.onclick = function () {
            let masterFormContainer = document.getElementById("masterForm");
            masterFormContainer.style.display = "none";
            let notMasterFormContainer = document.getElementById("notMasterForm");
            notMasterFormContainer.style.display = "block";
        }

        if (deviceTypeMasterRadiobutton.checked === true) {
            let masterFormContainer = document.getElementById("masterForm");
            masterFormContainer.style.display = "block";
        }
        if (deviceTypeNotMasterRadiobutton.checked === true) {
            let notMasterFormContainer = document.getElementById("notMasterForm");
            notMasterFormContainer.style.display = "block";
        }

        function beforeSubmit(event) {
	        let clientIDsInput = document.getElementById('client_ids');
            let clientIDInputsList = document.getElementById('clientIDsWrapper').getElementsByTagName('input');
            clientIDInputsList = [...clientIDInputsList].slice(1);

	        concattedClientIDs = clientIDInputsList.reduce(function(acc, val) {
	            let newID = val.value.trim();
	            if (!newID)
	                return acc;
	            if (!acc)
	                return newID;
	            return acc + ';' + newID;
	        }, '');
            clientIDsInput.value = concattedClientIDs;
        }

        const form = document.getElementById('masterForm');
        form.addEventListener('submit', beforeSubmit);

        const removeRowButtons = document.getElementsByClassName('action-remove');

        function renameElement(element, newIndex) {
            console.log(element);
            if (element.children) {
                let elementInput = [...element.children][0];
                let nameParts = elementInput.name.split('-');
                nameParts[1] = newIndex;
                elementInput.name = nameParts.join('-');
                elementInput.id = nameParts.join('-');
            }
        }

        function renameRows(listElementId) {
            const listElement = document.getElementById(listElementId);

			[...listElement.children].forEach(function(rowDiv, index) {
			   let rowElements = [...rowDiv.children];
			   rowElements.slice(0, rowElements.length-2).forEach(function(element) {
			      renameElement(element, index);
			   });
			});
        }

        function removeRow() {
            this.parentElement.remove();
            const masterNetworks = document.getElementById('masterNetworks');
            if (masterNetworks.childElementCount <= 1) {
                const rowElements = [...[...masterNetworks.children][0].children];
                rowElements[rowElements.length - 2].style.display = 'none';
            }

            renameRows('masterNetworks');
        }
        function addRow() {
			this.parentElement.remove();

        }
        [...removeRowButtons].forEach(element => element.onclick = removeRow)



				let incName = function(origName, index) {
					let parts = origName.split("-");
					let prefix = parts.slice(0, 2 * index + 1);
					let suffix = parts.slice(2 * index + 2);
					let infix = parseInt(parts[2 * index + 1]) + 1;
					if (isNaN(infix)) {
						infix = []
					}

					inc = prefix.concat(infix).concat(suffix).join("-");

					console.log(origName + " >(" + index + ")> " + inc);
					return inc;
				}

				$("#plus-master-network").click(function () {
					let original = $("#masterNetworks").children().last();
					console.log(original);
					let cloned = original.clone()
					cloned.find(".alert").remove();
					cloned.find("input").val("");

					cloned.find("input").attr("name", incName(cloned.find("input").attr("name"), 0));
					cloned.find("select").attr("name", incName(cloned.find("select").attr("name"), 0));

					cloned.appendTo("#masterNetworks");
					cloned.on("click", ".minus-master-network", minusMaster);
				});

				let minusMaster = function() {
					if ($("#masterNetworks").children().length > 1) {
						$(this).parent().parent().remove();
					}
				}
				$(".minus-master-network").click(minusMaster);


				let minusClientNetwork = function() {
					let container = $(this).parent().parent();
					if (container.parent().children().length > 1) {
						container.remove();
					}
				}
				$(".minus-client-network").on("click", minusClientNetwork);

				let plusClientNetwork = function() {
					let container = $(this).parent().parent().find(".client-networks");
					let original = container.children().last();
					console.log(original);

					let cloned = original.clone();
					cloned.find(".alert").remove();
					cloned.find("input").val("");

					cloned.find("input").attr("name", incName(cloned.find("input").attr("name"), 1));
					cloned.find("select").attr("name", incName(cloned.find("select").attr("name"), 1));

					cloned.appendTo(container);
					cloned.on("click", ".minus-client-network", minusClientNetwork);
				}
				$(".plus-client-network").on("click", plusClientNetwork);


				let minusClient = function() {
					if ($("#clients").children().length > 1) {
						$(this).parent().parent().remove();
					}
				}
				$(".minus-client").on("click", minusClient);

				$("#plus-client").click(function () {
					let original = $("#clients").children().last();
					let cloned = original.clone()
					cloned.find(".alert").remove();
					cloned.find("input").val("");

					let subcontainer = cloned.find(".client-networks");
					while (subcontainer.children().length > 1) {
						subcontainer.children().last().remove();
					}

					subcontainer.parent().on("click", ".plus-client-network", plusClientNetwork);
					subcontainer.parent().on("click", ".minus-client-network", minusClientNetwork);

					cloned.find("input").each(function (i, e) {
						$(e).attr("name", incName($(e).attr("name"), 0));
					});
					cloned.find("select").attr("name", incName(cloned.find("select").attr("name"), 0));

					cloned.appendTo("#clients");
					cloned.on("click", ".minus-client", minusClient);
				});

				$("#device-id-to-clipboard").click(function () {
					//navigator.clipboard.writeText($("#device-id-text").val());

					// Get the text field
					var copyDeviceID = document.getElementById("device-id-text");

					// Select the text field
					copyDeviceID.select();
					copyDeviceID.setSelectionRange(0, 99999); // For mobile devices

					// Copy the text inside the text field
					document.execCommand('copy');

					// Alert the copied text
					alert("Device ID: " + copyDeviceID.value + " copied to the clipboard.");
				});


	</script>
{% endblock %}
