{% extends 'new-base.html' %}
{% block title %}Update{% endblock %}
{% block content %}
	<style>
        .diagnostic-info p {
            font-weight: 700;
        }

        .diagnostic-info p.info {
            font-weight: 400;
        }
	</style>
	<h3 class="mb-5">Update</h3>
	<h4>Currently Installed</h4>
	<div class="diagnostic-info">
		<div class="row">
			<p class="col-4">{{ version.core_os }} version</p>
			<p class="info col-6">{{ version.core_version_full }}</p>
		</div>
		{% if version.core_auto_update %}
                <div class="row">
                        <p class="col-4">OS updates</p>
			<p class="info col-6">{{ version.core_auto_update }}</p>
                </div>
		{% endif %}
		<div class="row">
			<p class="col-4">T1 version</p>
			<p class="info col-6">{{ version.app_version }}</p>
		</div>
		<div class="row">
			<p class="col-4">OpenVPN version</p>
			<p class="info col-6">{{ version.openvpn_version }}</p>
		</div>
		<br/>
		<form method="POST" id="UpdateForm">
                {{ form.csrf_token }}

		{% if not version.future_app_version %}
		<div class="row">
                        <div class="col-4">{{ form.check_online }}</div>
                </div>
		{% else %}
		<div class="row">
			<p class="col-4">Latest T1 version</p>
			<p class="info col-6">{{ version.future_app_version }}</p>
		</div>
		<div class="row">
			<p class="col-4">Latest OS version</p>
			<p class="info col-6">{{ version.future_core_version }}</p>
		</div>
		{% endif %}

		<div class="row">
			<p class="col-4">Tunnel info: </p>
			{% with height='50vh' %}
				{% include 'logs_block.html' %}
			{% endwith %}
		</div>
	</div>
{% endblock %}
