{% block logs %}
	<div id="log" class="col-12" style="font-size: xx-small; height: {{ height }}; overflow-y: visible;">
	</div>

	<style>
	table {
        	width: 100%;
		border-collapse: collapse;
        	margin-top: 20px;
	}
	th, td {
		border: 1px solid #ddd;
		text-align: left;
		padding: 8px;
	}
	</style>

	<script>
	var csrf_token = "{{ csrf_token }}";

        async function fetchAsync(url) {
	    try {
	 	let response = await fetch(url, {
						  method: 'GET',
						  'X-CSRFToken': csrf_token
						});
		if(!response.ok) {
		    throw new Error('Network problem while retrieving logfile: ' + response.statusText)
		}
		let data = await response.json();
            	return data;
	    } catch (error) {
		console.error('Problem with fetching logfile:', error)
	    }
        }

	function removeAnsiEscapeCodes(text) {
        	// Regular expression to match ANSI escape codes
        	const regex = new RegExp(/\x1b\[[0-9;]*[a-zA-Z]/g);
        	return text.replace(regex, '');
	}

	let previousContent = '';  // DECLARE VARIABLE OUTSIDE FUNCTION
        function loadLogData() {
            let logElement = document.getElementById("log");

            fetchAsync('/update-log')
                .then(
                    function (result) {
			let cleanedResult = result.map(line => removeAnsiEscapeCodes(line));
			// JOIN LINES AND REPLACE LINE BREAKS
                        let newContent = cleanedResult.join('').replace(/\n/g, '<br>');
                        if (newContent !== previousContent) {
			    //EMPTY OLD CONTENT
			    logElement.innerHTML = newContent;
			    previousContent = newContent;
                        }
                    }
                )
        }

        setInterval(loadLogData, 1000);

	</script>
{% endblock %}
